<body id="vrhStrane">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <img src="assets/logo.png" alt="Logo" class="navbar-brand">
            
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav ">
              <li><a [routerLink]="['/pocetna']" routerLinkActive="active">POCETNA</a></li>
              <li><a [routerLink]="['/pocetnaUcesnici']" routerLinkActive="active">UCESNICI</a></li>
              <li><a [routerLink]="['/pocetnaMedalje']" routerLinkActive="active">MEDALJE</a></li>
              <li><a [routerLink]="['/pocetnaPretraga']" routerLinkActive="active">PRETRAGA</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a *ngIf='prijavljenOrganizator' routerLink='/organizatorTakmicenje'><span class="glyphicon glyphicon-new-window"></span>Nazad na organizator</a></li>
                <li><a *ngIf='prijavljenDelegat' routerLink='/delegat'><span class="glyphicon glyphicon-new-window"></span>Nazad na delegat</a></li>
                <li><a *ngIf='prijavljenVodja' routerLink='/vodjaSportista'><span class="glyphicon glyphicon-new-window"></span>Nazad na vodja delegacije</a></li>
                <li><a *ngIf='!prijavljenKorisnik' routerLink='/login'><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                <li><a *ngIf='!prijavljenKorisnik' routerLink='/register'><span class="glyphicon glyphicon-user"></span>Registracija</a></li>
                <li><a routerLink='/promenaLozinke'><span class="glyphicon glyphicon-edit"></span>Promeni</a></li>
            </ul>
          </div>
        </div>
    </nav>    

<div id="pocetna" class="container">
    <div class="row">
        <div class="slika">
            <img src="/assets/tokyo.jpg" alt="Tokyo" width="100%">
        </div>
    </div> 
</div>

<footer class="container text-center">
    <a href="/pocetna#vrhStrane" title="Vrh Strane">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>&copy; Nemanja Mitrovic 0288/2018</p>
  </footer>

</body>
