<body id="vrhStrane">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <img src="assets/logo.png" alt="Logo" class="navbar-brand">
            
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav ">
              <li><a [routerLink]="['/pocetna']" routerLinkActive="active">POCETNA</a></li>
              <li><a [routerLink]="['/pocetnaUcesnici']" routerLinkActive="active">UCESNICI</a></li>
              <li><a [routerLink]="['/pocetnaMedalje']" routerLinkActive="active">MEDALJE</a></li>
              <li><a [routerLink]="['/pocetnaPretraga']" routerLinkActive="active">PRETRAGA</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a *ngIf='prijavljenOrganizator' routerLink='/organizatorTakmicenje'><span class="glyphicon glyphicon-new-window"></span>Nazad na organizator</a></li>
                <li><a *ngIf='prijavljenDelegat' routerLink='/delegat'><span class="glyphicon glyphicon-new-window"></span>Nazad na delegat</a></li>
                <li><a *ngIf='prijavljenVodja' routerLink='/vodjaSportista'><span class="glyphicon glyphicon-new-window"></span>Nazad na vodja delegacije</a></li>
                <li><a *ngIf='!prijavljenKorisnik' routerLink='/login'><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                <li><a *ngIf='!prijavljenKorisnik' routerLink='/register'><span class="glyphicon glyphicon-user"></span>Registracija</a></li>
                <li><a routerLink='/promenaLozinke'><span class="glyphicon glyphicon-edit"></span>Promeni</a></li>
            </ul>
          </div>
        </div>
    </nav>    

    <div id="medalje" class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="text-center mt-5 mb-5">
              Pregled osvojenih medalja
            </h2>
          
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th scope="col">Rang</th>
                  <th scope="col">Ime zemlje</th>
                  <th scope="col">Broj zlatnih medalja</th>
                  <th scope="col">Broj srebrnih medalja</th>
                  <th scope="col">Broj bronzanih medalja</th>
                  <th scope="col">Ukupan broj medalja</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let z of sortiraneZemlje | paginate : {
                          id:'pagination2',
                          itemsPerPage: tableSizeRang,
                          currentPage: pageRang,
                          totalItems: countRang
                        };
                  let i = index" [class.active]="i == currentIndex">
                  <td>{{i+1}}</td>
                  <td>{{z.imeZemlje}}</td>
                  <td>{{z.zlato}}</td>
                  <td>{{z.srebro}}</td>
                  <td>{{z.bronza}}</td>
                  <td>{{saberi(z.zlato,z.srebro,z.bronza)}}</td>
                </tr>
              </tbody>
            </table>
          
            <div class="d-flex justify-content-center">
              <pagination-controls id="pagination2"
                responsive="true" 
                previousLabel="Prev" 
                nextLabel="Next" 
                (pageChange)="onTableDataChangeZemljeRang($event)">
              </pagination-controls>
            </div>
          </div>
        </div>
    </div>

<footer class="container text-center">
    <a href="/pocetnaMedalje#vrhStrane" title="Vrh Strane">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>&copy; Nemanja Mitrovic 0288/2018</p>
  </footer>
 
</body>

